
.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part0_Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_Titanic_EDA-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part2_04BreastCancer_Preprocessing-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part2_05BreastCancer_Unsupervised-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part2_06BreastCancer_Supervised-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part3_07ProcessMining-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part8March-checkpoint.ipynb
